<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ul list-style-type: none>
    <li class="text" *ngFor="let note of notes let i=index">
      <ion-card>
        <div *ngIf="this.editingNote && noteToEdit._id === note._id; else editNote"> 
          <form class="postForm" (ngSubmit)=updateCollection(note)>
            <ion-input name="title" placeholder={{note.title}} [(ngModel)]="note.title" ></ion-input>
            <ion-textarea name="note" placeholder={{note.note}} [(ngModel)]="note.note" ></ion-textarea>

            <ion-button type="submit" >Submit</ion-button>
          </form>
        </div>
        <ng-template #editNote>
          <div>{{note.title}}</div>
          <div>{{note.note}}</div>
          <ion-button (click)="edit(note)">Edit</ion-button>
          <ion-button (click)="delete(note)">Delete</ion-button>
        </ng-template>
      </ion-card>
    </li>
  </ul>

  
</ion-content>
