<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="postForm" [formGroup]="postForm">
    <ion-input formControlName="title" placeholder="Title"></ion-input>
    <ion-textarea formControlName="note" placeholder="Write your note here"></ion-textarea>

    <ion-button type="button" (click)="addCollection()">Submit</ion-button>
  </form> 

  
</ion-content>
